$orange: #FF9800;
$yellow: #FFEB3B;
$green: #4CAF50;
$turquoise: #009688;
$cyan: #29B6F6;
$blue: #2196F3;
$purple: #9C27B0;
$red: #F44336;

$primary: $turquoise;
$danger: $red;
$info: $blue;
$success: $green;